html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.highlight {
  background-color: yellow;
}

.filter-container {
  margin: 20px;
}

.article-list {
  flex-wrap: wrap;
  justify-content: center;
}

.article-card {
  margin: 10px;
  width: 300px;

}